{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

<section class="banner">
    <h1>
        <img src="{% static 'images/banner.png'%}" />
    </h1>
</section>
<section class="content">
    <article>
        <h3>Explora nuestros destinos</h3>
        <p>Antioquia te ofrece una variedad de lugares mágicos para visitar...</p>
    </article>
</section>

{% endblock content %}
